/* Styles.scss - Starting point for css */
/* Vendor / Plugins / External Code
=============================================================================== */
/* Base Styles
=============================================================================== */
/* Font Settings */
/* GRID SYSTEM
=============================================================================== */
/* MAX Width for Boxed Containers (@include container)
===============================================================================*/
/**
 * Set your Breakpoint Withs here
 * If you want to add/remove breakpoints ... good luck
 * Max 6 Breakpoints (https://yellowlab.tools)
 * Default width is Mobile first  < 30em;
 *
 * VARIABLES
 * =========
 * width: min-width of breakpoint
 * $spacer: padding or margin of grid or card in specific breakpoint
 * $outerspacer: padding of containers (outer parents) - Should be the same like $spacer
 */
/* Grids don't have Margins */
/* Cards have Margins on sides and can have borders*/
/* IMPORTANT */
/* Don't use Flex Shorthands as long as you support IE10 */
/* Default is a 12 Column grid. Set $grid--max if you need another amount of columns */
/* Change the Breakpoints in the $gridmap in the _shopConfig.scss file */
/* Container
=============================================================================== */
/* Container Base Mixins
=========================================================== */
/* Boxed Container
=========================================================== */
/* Full Width Container
=========================================================== */
/* Nested Container
=========================================================== */
/* Single Row Container - nowrap - boxed
=========================================================== */
/* Grid Base Mixins
=============================================================================== */
/* BEM Mixins - These Mixins are Are BEM Elements (Block__Element--Modifier */
/* Standard Grid - Only Horizontal Padding
=============================================================================== */
/* Grid without padding - use for nested Grids
=============================================================================== */
/* Grid collapses outer padding --- NOT TESTED
=============================================================================== */
/* Card Mixin
=============================================================================== */
/* CLEARFIX Mixin
=============================================================================== */
/* STANDARD CLASSES
=============================================================================== */
/* BASE.SCSS
============================================================================

Style Standard HTML Elements here (ie body, html, h1, h2, h3, h4

Form Elements are designed in base/_forms.scss
Font Elements are designed in base/_fonts.scss

If you want to use normalize.css or reset.css include it here and change them
to your needs


=============================================================================== */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: arial, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
  background: #333;
  padding-top: 10px; }

h1, h2, h3, h4, h5, h6, ul {
  margin: 0 0 1rem; }

h1 {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  float: left; }
  @media (min-width: 481px) {
    h1 {
      padding-left: 1rem;
      padding-right: 1rem; } }

/* Font Variables and Element Mixins */
.section__title {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  float: left;
  color: #fff; }
  @media (min-width: 481px) {
    .section__title {
      padding-left: 1rem;
      padding-right: 1rem; } }

.headline {
  margin: 0;
  font-size: 1.444rem; }

/* Components
=============================================================================== */
.main__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff; }

.main__title {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  float: left; }
  @media (min-width: 481px) {
    .main__title {
      padding-left: 1rem;
      padding-right: 1rem; } }

.main__subtitle {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  float: left; }
  @media (min-width: 481px) {
    .main__subtitle {
      padding-left: 1rem;
      padding-right: 1rem; } }

.highlights {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.highlight {
  margin: 0 10px 20px;
  padding: 10px;
  width: 100%;
  background: #fff;
  margin-bottom: 20px; }
  @media (min-width: 481px) {
    .highlight {
      margin: 0 1rem 2rem; } }
  @media (min-width: 481px) {
    .highlight {
      padding: 1rem; } }
  @media (min-width: 481px) {
    .highlight {
      width: calc(50% - 2 * 10px); } }
  @media (min-width: 769px) {
    .highlight {
      width: calc(33.33333% - 2 * 10px); } }

.captain__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.captain {
  margin: 0 10px 20px;
  padding: 10px;
  width: 50%;
  background: #fff; }
  @media (min-width: 481px) {
    .captain {
      margin: 0 1rem 2rem; } }
  @media (min-width: 481px) {
    .captain {
      padding: 1rem; } }

/* Helpers - Keep these @imports on Bottom of this File
=============================================================================== */

/*# sourceMappingURL=ie.css.map */
