@include jacket(default) {
  .highlights {
    @include container;
  }
  .highlight {
    @include card(12);
    background: #fff;
    margin-bottom: 2*$spacer;
    @media (min-width: $media--s) {
      @include card__width(6);
    }
    @media (min-width: $media--m) {
      @include card__width(4)
    }
  }
  .something_else {
    background: red;
  }
}
