.container--example-1 {
  @include container;
  margin-bottom: 2rem;
  color: #fff;
}
.grid--example-1 {
  @include grid(12,$s:6,$m:4,$l:4);
}

.container--example-2 {
  @include container;
  margin-bottom: 2rem;
  color: #fff;
}
.card--example-2 {
  @include card--default(12,$s:6,$m:4,$l:4);
  background: #fff;
  color: #333;
}

.container--example-3 {
  @include container;
}

.sidebar {
  @include card--horizontal(12,$m:3);
  background: #fff;
  @include breakpoint($media--m) {
    order: -1;
  }
}
.menu--categories {
  @include grid(12);
}

.content {
  @include card--nospace(12,$m:9);
  background: #fff;
}

.docu--example-3 {
  @include card--default(12)
}