/* Font Variables and Element Mixins */
$title--s: 1rem;
$title--ratio: 1.414;

$title--xxl: 3.998rem;
$title--xl: 2.827rem;
$title--l: 1.999rem;
$title--m: 1.414rem;
$title: $title--m;
$title--s: 1rem;

h1 {
  font-size: $title--xl;
}
h2 {
  font-size: $title--l;
}
h3 {
  font-size: $title;
}
h4, h5, h6 {
  font-size: $title--s;
}
h1, h2, h3  {
  margin: 0 0 1rem 0;
}
 h4, h5, h6 {
  margin: .5rem 0 1rem 0;
}

.title {
  font-size: $title--m;
}
.section__title {
  @include grid(12);
  font-size: $title--l;

}
.headline {
  @include padding--horizontal();
  @include margin--horizontal();
  margin: 0 auto $container__margin-bottom;
  width: 100%;
  max-width: $maxWidth;
  font-size: $title--xl;
  background: #fff;
}
.headline--ordertop {
  @include grid(12);
  order: -100;
  font-size: $title--l;
}
.card__headline {
  @include card(12);
  font-size: $title--l;
}
.card__headline--default {
  @include card--default();
  font-size: $title--l;
}

.message {
  @include grid(12);
  background: lightblue;

}
.message--warning{
  @extend .message;
  background: $orange;
  color: #fff;
  font-size: 1.1rem;
}