/* Styles.scss - Starting point for css */
/* include a entrypoint.css file into your html */
/* Settings
=============================================================================== */
/* ============================================================================
   SETTINGS.SCSS
=============================================================================== */
/* NICEGRID
=============================================================================== */
/* Fonts todo better naming
=============================================================================== */
/* Vendor / Plugins / External Code
=============================================================================== */
/* Base Styles
=============================================================================== */
/* ============================================================================
   NICE GRID
=============================================================================== */
/* Don't use Flex Shorthands as long as you support IE10 */
/* Breakpoints
=============================================================================== */
/* Spacer - Gutter - Standard Paddings and Margins for the Grid
=============================================================================== */
/* Outer Spacer -- Padding on boxed Container
=============================================================================== */
/* Helper Functions
=============================================================================== */
/* Containers
=============================================================================== */
/* Container Base Mixins
========================== */
/* Boxed Container */
/* Full Width Container */
/* Nested Container */
/* Single Row Container - nowrap - boxed  */
/* Grid Base Mixins
=============================================================================== */
/* GRIDS -- Padding -- no margin - don't use backgrounds and/or borders if not fluid
=============================================================================== */
/* Grid collapses outer padding --- todo NOT TESTED */
/* CARDS -- Margin & Padding-- use for Cards, Backgrounds, Borders
=============================================================================== */
/* CLEARFIX
=============================================================================== */
/* STANDARD CLASSES
=============================================================================== */
.container {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 480px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem; } }

.container--nospace {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.container--fluid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 0 auto; }

/* BASE.SCSS
============================================================================

Style Standard HTML Elements here (ie body, html, h1, h2, h3, h4

Form Elements are designed in base/_forms.scss
Font Elements are designed in base/_fonts.scss

If you want to use normalize.css or reset.css include it here and change them
to your needs


=============================================================================== */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: arial, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
  background: #333;
  padding-top: 5px; }

h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

/* Font Variables and Element Mixins */
.section__title {
  padding: 5px;
  width: 100%;
  color: #fff; }
  @media (min-width: 480px) {
    .section__title {
      padding: 1rem; } }

.headline {
  padding: 5px;
  width: 100%;
  font-size: 1.444rem; }
  @media (min-width: 480px) {
    .headline {
      padding: 1rem; } }

.headline--ordertop {
  padding: 5px;
  width: 100%;
  order: -100;
  font-size: 1.444rem; }
  @media (min-width: 480px) {
    .headline--ordertop {
      padding: 1rem; } }

.card__headline {
  margin: 5px;
  padding: 5px;
  width: calc(100% - 10px);
  font-size: 1.444rem; }
  @media (min-width: 480px) {
    .card__headline {
      margin: 1rem; } }
  @media (min-width: 480px) {
    .card__headline {
      padding: 1rem; } }
  @media (min-width: 480px) {
    .card__headline {
      width: calc(100% - 2rem); } }

.message, .message--warning {
  padding: 5px;
  width: 100%;
  background: lightblue; }
  @media (min-width: 480px) {
    .message, .message--warning {
      padding: 1rem; } }

.message--warning {
  background: #b7a205;
  color: #fff;
  font-size: 1.1rem; }

/* Components
=============================================================================== */
.main__header {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff; }
  @media (min-width: 480px) {
    .main__header {
      padding-left: 1rem;
      padding-right: 1rem; } }

.main__title {
  padding: 5px;
  width: 100%; }
  @media (min-width: 480px) {
    .main__title {
      padding: 1rem; } }

.main__subtitle {
  padding: 5px;
  width: 100%; }
  @media (min-width: 480px) {
    .main__subtitle {
      padding: 1rem; } }

.highlights {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 480px) {
    .highlights {
      padding-left: 1rem;
      padding-right: 1rem; } }

.highlight {
  margin: 0 5px 10px;
  padding: 5px;
  width: calc(100% - 10px);
  background: #fff;
  margin-bottom: 10px; }
  @media (min-width: 480px) {
    .highlight {
      margin: 0 1rem 2rem; } }
  @media (min-width: 480px) {
    .highlight {
      padding: 1rem; } }
  @media (min-width: 480px) {
    .highlight {
      width: calc(50% - 2rem); } }
  @media (min-width: 768px) {
    .highlight {
      width: calc(33.33333% - 2rem); } }

.something_else {
  background: red; }

.captain__wrap {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 480px) {
    .captain__wrap {
      padding-left: 1rem;
      padding-right: 1rem; } }

.captain {
  margin: 5px;
  padding: 5px;
  width: calc(50% - 10px);
  background: #fff; }
  @media (min-width: 480px) {
    .captain {
      margin: 1rem; } }
  @media (min-width: 480px) {
    .captain {
      padding: 1rem; } }
  @media (min-width: 480px) {
    .captain {
      width: calc(50% - 2rem); } }

/* Custom - Examples
=============================================================================== */
.container--example-1 {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #fff; }
  @media (min-width: 480px) {
    .container--example-1 {
      padding-left: 1rem;
      padding-right: 1rem; } }

.grid--example-1 {
  padding: 5px;
  width: 100%; }
  @media (min-width: 480px) {
    .grid--example-1 {
      padding: 1rem; } }
  @media (min-width: 480px) {
    .grid--example-1 {
      width: 50%; } }
  @media (min-width: 768px) {
    .grid--example-1 {
      width: 33.33333%; } }
  @media (min-width: 1024px) {
    .grid--example-1 {
      width: 33.33333%; } }

.container--example-2 {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #fff; }
  @media (min-width: 480px) {
    .container--example-2 {
      padding-left: 1rem;
      padding-right: 1rem; } }

.card--example-2 {
  margin: 0 5px 10px;
  padding: 5px;
  width: calc(100% - 10px);
  background: #fff;
  color: #333; }
  @media (min-width: 480px) {
    .card--example-2 {
      margin: 0 1rem 2rem; } }
  @media (min-width: 480px) {
    .card--example-2 {
      padding: 1rem; } }
  @media (min-width: 480px) {
    .card--example-2 {
      width: calc(50% - 2rem); } }
  @media (min-width: 768px) {
    .card--example-2 {
      width: calc(33.33333% - 2rem); } }
  @media (min-width: 1024px) {
    .card--example-2 {
      width: calc(33.33333% - 2rem); } }

.container--example-3 {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 480px) {
    .container--example-3 {
      padding-left: 1rem;
      padding-right: 1rem; } }

.sidebar {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  width: calc(100% - 10px);
  background: #fff; }
  @media (min-width: 480px) {
    .sidebar {
      margin-left: 1rem;
      margin-right: 1rem; } }
  @media (min-width: 480px) {
    .sidebar {
      padding: 1rem; } }
  @media (min-width: 480px) {
    .sidebar {
      width: calc(100% - 2rem); } }
  @media (min-width: 768px) {
    .sidebar {
      width: calc(25% - 2rem); } }
  @media (min-width: 768px) {
    .sidebar {
      order: -1; } }

.menu--categories {
  padding: 5px;
  width: 100%; }
  @media (min-width: 480px) {
    .menu--categories {
      padding: 1rem; } }

.content {
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);
  background: #fff; }
  @media (min-width: 480px) {
    .content {
      margin-left: 1rem;
      margin-right: 1rem; } }
  @media (min-width: 480px) {
    .content {
      width: calc(100% - 2rem); } }
  @media (min-width: 768px) {
    .content {
      width: calc(75% - 2rem); } }

.docu--example-3 {
  margin: 0 5px 10px;
  padding: 5px;
  width: calc(100% - 10px); }
  @media (min-width: 480px) {
    .docu--example-3 {
      margin: 0 1rem 2rem; } }
  @media (min-width: 480px) {
    .docu--example-3 {
      padding: 1rem; } }
  @media (min-width: 480px) {
    .docu--example-3 {
      width: calc(100% - 2rem); } }

/* Helpers - Keep these @imports on Bottom of this File
=============================================================================== */

/*# sourceMappingURL=default.css.map */
