/* Styles.scss - Starting point for css */
/* include a entrypoint.css file into your html */
/* Settings
=============================================================================== */
/* ============================================================================
   SETTINGS.SCSS
=============================================================================== */
/* NICEGRID
=============================================================================== */
/* Fonts todo better naming
=============================================================================== */
/* Standard Classes
=============================================================================== */
.light {
  background: #fff;
  color: #333; }

.dark {
  background: #333;
  color: #fff; }

/* Vendor / Plugins / External Code
=============================================================================== */
/* Base Styles
=============================================================================== */
/* ============================================================================
   NICE GRID
=============================================================================== */
/* Don't use Flex Shorthands as long as you support IE10 */
/* Breakpoints
=============================================================================== */
/* Spacer - Gutter - Standard Paddings and Margins for the Grid
=============================================================================== */
/* Outer Spacer -- Padding on boxed Container
=============================================================================== */
/* Container -- Margin Bottom
=============================================================================== */
/* Helper Functions
=============================================================================== */
/* Containers
=============================================================================== */
/* Container Base Mixins
========================== */
/* Boxed Container */
/* Full Width Container */
/* Nested Container */
/* Single Row Container - nowrap - boxed  */
/* Grid Base Mixins
=============================================================================== */
/** $s, $m, $l ... are the predefined breakpoints
 *  @$default ... no breakpoint - Standard
 *  width(12, $m:6, $l: 4) means:
 *      width: 100%;
 *      @breakpoint($media--m) {width: 50%;}
 *      @breakpoint($media--l) {width: 33.33333;}
 */
/* calculated width if box has side margins */
/* GRIDS -- Padding -- no margin - don't use backgrounds and/or borders if not fluid
=============================================================================== */
/* Grid collapses outer padding --- todo NOT TESTED */
/* CARDS -- Margin & Padding-- use for Cards, Backgrounds, Borders
=============================================================================== */
/* CLEARFIX
=============================================================================== */
/* STANDARD CLASSES
=============================================================================== */
/* BASE.SCSS
============================================================================

Style Standard HTML Elements here (ie body, html, h1, h2, h3, h4

Form Elements are designed in base/_forms.scss
Font Elements are designed in base/_fonts.scss

If you want to use normalize.css or reset.css include it here and change them
to your needs


=============================================================================== */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0; }

ul {
  margin: 0 0 1rem 0;
  padding: 0;
  list-style-position: inside; }

p {
  margin: 0 0 1rem 0; }

pre {
  margin: 0;
  height: 100%; }

/* Font Variables and Element Mixins */
h1 {
  font-size: 2.827rem; }

h2 {
  font-size: 1.999rem; }

h3 {
  font-size: 1.414rem; }

h4, h5, h6 {
  font-size: 1rem; }

h1, h2, h3 {
  margin: 0 0 1rem 0; }

h4, h5, h6 {
  margin: .5rem 0 1rem 0; }

.title {
  font-size: 1.414rem; }

.section__title {
  padding: 1rem;
  width: 100%;
  float: left;
  font-size: 1.999rem; }

.headline {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: 0 auto 1rem;
  width: 100%;
  max-width: 1200px;
  font-size: 2.827rem;
  background: #fff; }

.headline--ordertop {
  padding: 1rem;
  width: 100%;
  float: left;
  order: -100;
  font-size: 1.999rem; }

.card__headline {
  margin: 1rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  float: left;
  font-size: 1.999rem; }

.card__headline--default {
  margin: 0 1rem 2rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  float: left;
  font-size: 1.999rem; }

.message, .message--warning {
  padding: 1rem;
  width: 100%;
  float: left;
  background: lightblue; }

.message--warning {
  background: #b7a205;
  color: #fff;
  font-size: 1.1rem; }

/* Components
=============================================================================== */
.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 1rem;
  margin: 0 auto 1rem; }

.nav__list {
  padding: 1rem;
  width: 100%;
  float: left;
  display: flex;
  list-style: none; }

.nav__link {
  margin-right: 2rem;
  color: #333;
  text-decoration: none;
  text-transform: uppercase; }

.main__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 1rem;
  margin: 0 auto 1rem;
  color: #fff; }

.main__title {
  padding: 1rem;
  width: 100%;
  float: left; }

.main__subtitle {
  padding: 1rem;
  width: 100%;
  float: left; }

.captain__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 1rem;
  margin: 0 auto 1rem; }

.captain {
  margin: 1rem;
  padding: 1rem;
  width: calc(50% - 2rem);
  float: left;
  background: #fff; }

.commander {
  padding: 1rem;
  width: 100%;
  float: left; }
  @media (min-width: 768px) {
    .commander {
      width: 50%; } }

/* Custom - Examples
=============================================================================== */
.container--example-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 1rem;
  margin: 0 auto 1rem;
  margin-bottom: 2rem;
  color: #fff; }

.grid--example-1 {
  padding: 1rem;
  width: 100%;
  float: left; }
  @media (min-width: 480px) {
    .grid--example-1 {
      width: 50%; } }
  @media (min-width: 768px) {
    .grid--example-1 {
      width: 33.33333%; } }
  @media (min-width: 1024px) {
    .grid--example-1 {
      width: 33.33333%; } }

.container--example-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 1rem;
  margin: 0 auto 1rem;
  margin-bottom: 2rem;
  color: #fff; }

.card--example-2 {
  margin: 0 1rem 2rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  float: left;
  background: #fff;
  color: #333; }
  @media (min-width: 480px) {
    .card--example-2 {
      width: calc(50% - 2rem); } }
  @media (min-width: 768px) {
    .card--example-2 {
      width: calc(33.33333% - 2rem); } }
  @media (min-width: 1024px) {
    .card--example-2 {
      width: calc(33.33333% - 2rem); } }

.container--example-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 1rem;
  margin: 0 auto 1rem; }

.sidebar {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  float: left;
  background: #fff; }
  @media (min-width: 768px) {
    .sidebar {
      width: calc(25% - 2rem); } }
  @media (min-width: 768px) {
    .sidebar {
      order: -1; } }

.menu--categories {
  padding: 1rem;
  width: 100%;
  float: left; }

.content {
  margin-left: 1rem;
  margin-right: 1rem;
  width: calc(100% - 2rem);
  float: left;
  background: #fff; }
  @media (min-width: 768px) {
    .content {
      width: calc(75% - 2rem); } }

.docu--example-3 {
  margin: 0 1rem 2rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  float: left; }

.nicegrid .main {
  padding-top: 1rem; }

.documentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 1rem;
  margin: 0 auto 1rem; }

.docu {
  padding: 1rem;
  width: 100%;
  float: left; }
  @media (min-width: 768px) {
    .docu {
      width: 50%; } }
  @media (min-width: 1024px) {
    .docu {
      width: 33.33333%; } }

.grid--12 {
  padding: 1rem;
  width: 100%;
  float: left; }

.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 1rem;
  margin: 0 auto 1rem; }

.post {
  padding: 1rem;
  width: 100%;
  float: left; }
  @media (min-width: 480px) {
    .post {
      width: 50%; } }
  @media (min-width: 768px) {
    .post {
      width: 33.33333%; } }

.post--card {
  margin: 1rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  float: left; }
  @media (min-width: 480px) {
    .post--card {
      width: calc(50% - 2rem); } }
  @media (min-width: 768px) {
    .post--card {
      width: calc(33.33333% - 2rem); } }

.post--card--default {
  margin: 0 1rem 2rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  float: left; }
  @media (min-width: 480px) {
    .post--card--default {
      width: calc(50% - 2rem); } }
  @media (min-width: 768px) {
    .post--card--default {
      width: calc(33.33333% - 2rem); } }

.border--orange {
  border: 1px solid #b7a205; }

.border--blue {
  border: 1px solid #0549b7; }

/* Helpers - Keep these @imports on Bottom of this File
=============================================================================== */

/*# sourceMappingURL=ie.css.map */
